@model CreateServiceVM

<h1>Service Create</h1>
<form class="container p-5" method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
     <div class="form-group">
        <label asp-for="IconName"></label>
        <input asp-for="IconName" class="form-control">
        <span class="text-danger" asp-validation-for="IconName"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
